* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: "Poppins", sans-serif;
  color: #011e2aee; }

body {
  min-height: 100vh;
  width: 100vw; }

main {
  position: relative; }

a {
  text-decoration: none;
  color: #011e2aee; }

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh; }

.logo {
  font-family: "Montserrat", sans-serif;
  width: 30%;
  padding: 0 20px;
  font-size: 3rem;
  pointer-events: none;
  color: #011e2aee;
  font-weight: 700; }

nav {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 500; }
  nav li:last-child {
    font-size: 0.8rem; }

.offcanvas-body .navbar-nav li {
  display: flex;
  align-items: center; }

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }

.texto-footer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  .texto-footer span {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem; }
  .texto-footer span::after {
    content: "";
    padding: 2px; }
  .texto-footer .condiciones:link,
  .texto-footer .condiciones:visited {
    text-decoration: dashed; }

.botones-footer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #011e2aee; }
  .botones-footer a {
    color: #011e2aee; }
  .botones-footer .material-icons {
    font-size: 40px; }

.condiciones {
  text-decoration: none;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; }
  .condiciones a {
    color: #011e2aee;
    text-decoration: underline; }

.rrss {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-right: 20px; }

.boton-rrss {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none; }

.boton-rrss:hover {
  transform: scale(1.2); }

.facebook {
  background-image: url("../images/facebook-logo.png"); }

.twitter {
  background-image: url("../images/x-logo.png");
  background-size: 90%; }

.instagram {
  background-image: url("../images/instagram-logo.png"); }

.home-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-image: url("../images/main-background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

@keyframes efecto {
  0% {
    opacity: 0.8;
    top: 10%; }
  100% {
    opacity: 0;
    letter-spacing: 10px;
    font-size: 2rem;
    top: 60vh; } }

@keyframes efecto2 {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  80% {
    opacity: 0.8; } }

#banner-text {
  position: absolute;
  width: 100vw;
  font-size: 2.5rem;
  z-index: 10;
  top: 10%;
  left: 1rem;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 5px;
  overflow: hidden;
  animation: efecto linear auto both;
  animation-timeline: scroll();
  animation-range: 0 50vh;
  color: #011e2aee; }

#banner-text-offer {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  z-index: 10;
  bottom: 0;
  color: #fbefd9;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 5px;
  overflow: hidden;
  animation: efecto2 linear both;
  animation-timeline: scroll(); }

@media screen and (max-width: 800px) {
  #banner-text {
    position: relative;
    animation: none;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 1.5rem;
    text-align: center; }
  #banner-text-offer {
    font-size: 1.5rem;
    bottom: 0;
    left: 1rem; } }

.home-description {
  margin: 3rem auto;
  position: relative;
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  padding: 0 100px; }
  .home-description p {
    font-size: 1.2rem; }

.advices-grid {
  display: grid;
  width: 80vw;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px; }
  .advices-grid h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2rem;
    color: #011e2aee; }

.postCard {
  background-color: #024f64;
  color: #fbefd9;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  min-height: 150px;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75); }
  .postCard .postTitle {
    height: 60%;
    text-align: center; }
  .postCard .post-text {
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.postCard:hover {
  color: #011e2aee;
  background-color: #fbefd9;
  cursor: pointer; }

.modelos-alquiler, .modelos, .modelos .casilla-modelo {
  display: flex;
  align-items: center; }

.modelos-alquiler {
  padding-top: 30px;
  flex-direction: column;
  width: 100%;
  justify-content: space-around; }
  .modelos-alquiler > p {
    font-size: 20px;
    letter-spacing: 1px;
    color: #011e2aee;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 20px 0; }

.modelos {
  flex-direction: row;
  justify-content: space-around;
  width: 100%; }
  .modelos .modelo-imagen {
    width: auto;
    height: 230px;
    border-radius: 10px; }
  .modelos .casilla-modelo {
    flex-direction: column;
    justify-content: space-around; }

.contenido-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 20px 0; }
  .contenido-principal .input-title {
    font-size: 17px; }
  .contenido-principal .main-form {
    margin: 20px 0;
    width: 40%;
    height: 80%;
    gap: 10px;
    text-align: center;
    background-color: transparent; }
    .contenido-principal .main-form .campo {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0; }
      .contenido-principal .main-form .campo span {
        padding-bottom: 5px;
        color: #011e2aee; }
      .contenido-principal .main-form .campo input {
        width: 70%;
        align-items: center;
        background-color: transparent;
        border: none;
        outline: 3px solid #011e2aee;
        border-radius: 10px;
        padding: 5px;
        color: #011e2aee; }
      .contenido-principal .main-form .campo select {
        width: 70%;
        align-items: center;
        background-color: transparent;
        border: none;
        outline: 3px solid #011e2aee;
        border-radius: 10px;
        padding: 5px;
        color: #011e2aee; }
      .contenido-principal .main-form .campo .material-icons {
        font-size: 35px; }
    .contenido-principal .main-form .campo input::placeholder {
      color: #011e2aee; }
    .contenido-principal .main-form .campo input:focus {
      outline: 3px solid #024f64;
      color: #011e2aee;
      font-size: 15px; }
    .contenido-principal .main-form .campo input:focus::placeholder {
      color: #011e2aee;
      font-size: 15px; }
    .contenido-principal .main-form .btn-campo {
      padding: 5px 10px; }
      .contenido-principal .main-form .btn-campo input {
        width: 40%;
        margin: 20px 0 0 0;
        padding: 20px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: #024f64;
        color: #fbefd9;
        border-radius: 40px;
        border: none;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
        transition: all 0.2s ease-in-out; }
    .contenido-principal .main-form .btn-campo input:hover {
      color: #011e2aee;
      background-color: #fbefd9;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75); }

.precios {
  margin: 0;
  text-align: center; }

.precios {
  background-color: #024f64;
  background-size: auto 100%;
  border-radius: 30px;
  font-size: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  min-height: 100%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  color: #fbefd9; }
  .precios p:nth-child(2) {
    text-transform: uppercase; }
  .precios span:first-child {
    padding-top: 10px;
    font-size: 60px; }
  .precios p::first-letter {
    text-transform: uppercase; }
  .precios p:last-child {
    padding-bottom: 20px; }
  .precios .material-icons {
    padding: 25px 0 0 0;
    font-size: 40px; }
  .precios p {
    padding: 5px 0 0 0;
    text-align: center; }
  .precios hr {
    height: 3px;
    width: 80%;
    background-color: #fbefd9;
    border: none;
    margin: 1px 0 10px 0;
    padding: 0.01rem; }
  .precios .texto-precios {
    font-size: 17px; }

.title-venta {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.contenedor-productos {
  display: grid;
  gap: 1rem;
  row-gap: 3rem;
  grid-auto-rows: auto-fill;
  grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
  grid-auto-flow: dense;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  margin: 0 10px; }
  .contenedor-productos .items {
    width: 100%;
    border: none;
    cursor: pointer; }

.descripcion-prod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease-in-out; }
  .descripcion-prod img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px; }
  .descripcion-prod .productos-venta {
    border-radius: 10px;
    width: 29rem;
    object-fit: fill;
    transition: all 0.3s ease-in-out; }
  .descripcion-prod .info-productos {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 50%; }
    .descripcion-prod .info-productos span {
      font-weight: normal; }

.descripcion-prod:hover {
  transform: scale(1.05); }

.title-caracteristicas {
  margin-top: 30px; }

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .detalles .imagen-bici {
    width: 1000px;
    height: auto; }
  .detalles ul {
    font-size: 30px;
    list-style-type: none;
    margin: 0; }
    .detalles ul li {
      background: url("../images/pinon.png") no-repeat 0px;
      background-size: 2rem;
      padding: 20px;
      padding-left: 60px; }
