header {
  width: 100vw;
  display:flex;
  justify-content: space-between;
  align-items:center;
  height: 7vh;
}

.logo-container{
  width: 30%;
  display:flex;
  justify-content: start;
  align-items:center;
  height: 100%;
  margin: 0;
  padding: 0;

  img {
    height: 100%;
    object-fit: contain;
  }
  
  .logo {
    font-family: $font-montserrat;
    font-size: 3rem;
    pointer-events:none;
    color: $dark-grey;
    font-weight: 700;
    display:flex;
    align-items: center;
    margin: 0;
  }
}


nav {
  font-family: $font-poppins;
  font-size: 1.3rem;
  font-weight: 500;

  li:last-child {
    font-size: 0.8rem;
  }
}

.offcanvas-body .navbar-nav li {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    height: 15vh;
    justify-content: center;
    
    .logo-container {
      align-items: center;
      justify-content: center;
      
      img{
        object-fit: contain;
        height: 100%;
        width: 100%;
      }

    }
  }
}
