body {
    font-family: "Helvetica Neue";
}

header{
    display : flex;
    background-color: #39cccc;
}


#banner{
      height: 100%;
      object-fit: contain;
      object-position: center center;
}

#logo {
    width: 100%;
    height: 90%;
    
}

.boton {
    border-radius: 5px;
}

#cont-idioma {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#idiomas {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenedor {
    display : flex;
}

#menu {
    width: 20%;
}

#operaciones {

}

#banner-centro {
width: 80%;
}

section>img{
    width : 30%;
}
footer {
    clear:both;
}