@font-face {
    font-family: 'Bree Regular';
    src: url('./font/bree/Bree\ Regular.otf') format("opentype");
}

html {
  height: 100%;
  border: none;
  font-family: 'Bree Regular';
  box-sizing: border-box;
}

body {
  height: 60%;
  margin: 0px;
  border: none;
  min-height: 100%;
  /* font-family: "Helvetica Neue"; */
}

a:link,
a:visited {
  text-decoration: none;
}

header {
  min-height : 120px;
  max-height: 120px;
  width: 100%;
  display: flex;
  background-color: white;
  margin-bottom: 30px;
}

#banner {
  width:70%;
  display: flex;
  justify-content: flex start;
  align-items: center;
  padding-left: 15px;
}

#logo {
  /* width: 70%; */
  height: 60%;
  width: auto;
}

#contenedor-botones-banner {
  width: 30%;
}

#cont-idioma {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

#botonVal {
  background-image: url("./images/BanderaVal2.png");
  height: 20px;
  width: 30px;
  background-size: 30px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30%;
  transition: all 0.3s ease-in;
}

#botonCas {
  background-image: url("./images/banderaEsp.png");
  height: 20px;
  width: 30px;
  background-size: 30px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30%;
  transition: all 0.3s ease-in;
}

#idiomas {
  align-items: center;
  justify-content: space-around;
}

#boton-inicio{
  height: 50%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-out;
}
#boton-inicio:hover{
  height: 50%;
  display: flex;
  justify-content: center;
  transform: scale(1.1)
}

#boton-inicio .material-icons {
  font-size: 45px;
  color:#8e7cc3;
  
}

.boton-rrss {
  height: 30px;
  width: 30px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none;
}

.boton-rrss:hover {
  transform: scale(1.2)
}

#boton-facebook {
  background-image: url("./images/facebook-logo.png");
}

#boton-twitter {
  background-image: url("./images/x-logo.png");
  background-size: 90%;
}


#boton-instagram {
  background-image: url("./images/instagram-logo.png");
}

.boton-idioma{
  margin-left: 5px;
  border-radius: 5px;
  border: none;
}

#contenedor-botones-banner button:hover {
  cursor: pointer;
  transform: scale(1.25);
}

#menu {
  height: 30px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  align-content: center;
  margin-bottom: 30px;
}

#menu p {
  margin: 0px;
}

#operaciones {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#operaciones a {
  font-size: 35px;

}

.boton-menu {
  font-size: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: white;
  color: #8e7cc3;
  border-radius: 40px;
  border: 2px solid #8e7cc3;
  transition: all 0.3s ease-in-out;
}

.boton-menu:hover {
  background-color: #8e7cc3;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#banner-centro {
  display: grid;
  min-height: 10%;
  display: flex;
  border: none;
  padding-top : 20px;
  align-items: center;
  width: 100%;
}

.imagen-centro {
  width: 100%;
}

#banner-centro p {
  color: #8e7cc3;
  font-size: 30px;
  text-align: center;
}

.items {
  width: 100%;
  border: none;
  cursor: pointer;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.contenido-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

.contenido-principal .input-title {
  font-size: 17px;
}

.campo span {
  padding-bottom: 5px;
  color: black;
}

.campo input {
  width: 70%;
  align-items: center;
  background-color: transparent;
  border:none;
  outline: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  color: black
}

.campo select {
  width: 70%;
  align-items: center;
  background-color: transparent;
  border:none;
  outline: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  color: black
}

.campo .material-icons {
  font-size: 35px;
}

.campo input::placeholder{
  color: black;
}

.campo input:focus {
  outline: 3px solid #8e7cc3;
  color:#8e7cc3;
  font-size: 15px;
}
.campo input:focus::placeholder{
  color: #8e7cc3;
  font-size: 15px;
}

.btn-campo {
  padding: 5px 10px;
}

.btn-campo input {
  width: 40%;
  margin: 20px 0 0 0;
  padding: 20px;
  text-align: center;
  font-size: 17px;
  background-color: white;
  color: black;
  border-radius: 40px;
  
}

.btn-campo input:hover {
  background-color: #8e7cc3;
  color: white;
  outline: none;
  border: 2px solid #8e7cc3;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main-form {
  margin: 20px 0;
  width: 40%;
  height:80%;
  gap: 10px;
  text-align: center;
  background-color: transparent;

}

.precios {
  background-color: rgba(142,124,195,0.3);
  background-size: auto 100%;
  border-radius: 30px;
  font-size: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  min-height: 100%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.precios p:nth-child(2){
  text-transform: uppercase;
}

.precios span:first-child {
  padding-top: 10px;
  font-size: 60px;
}

.precios p::first-letter{
  text-transform: uppercase;
}
.precios p:last-child {
  padding-bottom: 20px;
}

.precios .material-icons{
  margin: 0;
  padding: 25px 0 0 0;
  font-size: 40px;
}

.precios p {
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
}

.precios hr {
  height: 3px;
  width: 80%;
  background-color: black;
  border:none;
  margin: 1px 0 10px 0;
  padding: 0.01rem;
}

.precios .texto-precios {
  font-size: 17px;
}


/* footer {
  min-height: 80px;
  max-height: 150px;
  height: 20%;
  width: 100%;
  background-color: #70b578;
  margin-top: 5%;
} */

#contenedor-footer {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: center;
  min-height: 130px;
  max-height: 200px;
  height: 30%;
  width: 100%;
  background: rgba(4,144,97,0.8477984943977591);
  /* background: rgba(132,201,178,0.8842130602240896) 19%, ; */
  margin-top: 5%;
}

#texto-footer {
  width: 60%;
  display : flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#botones-footer {
  width: 20%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  position: relative;
}

#botones-footer .material-icons {
  font-size:50px;
}

#botones-footer a {
  color:black;
}

#botones-footer a:hover {
  color:#8e7cc3;
}

#boton-contacto {
  background-image: url("./images/email2.png");
  height: 40px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 30%;
}

#texto-footer .condiciones {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#texto-footer .condiciones:link,
#texto-footer .condiciones:visited {
  text-decoration:dashed;
}

#texto-footer span{
  display: flex;
  flex-direction: column;
}

#texto-footer span::after {
  content:"";
  padding: 2px;
}

#rrss {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content:end;
  gap: 10px;
  padding-right:20px
}

#rrss p {
  font-family: 'Bree Regular';
  font-size: 20px;
  color: #8e7cc3;
}

#boton-contacto:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.info-productos {
  text-align: center;
  font-family: 'Bree Regular';
  font-size: 17px;
  background-color: #418a65;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 50%;
}

.productos-venta {
  width:29rem;
  object-fit:fill;
  transition: all 0.3s ease-in-out;
}

.descripcion-prod {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.descripcion-prod:hover img {
  transform: scale(1.1)
}

.descripcion-prod:hover p {
  transform: scale(1.1)
}

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-bici {
  width: 1000px;
  height: auto;
}

ul {
  font-size: 30px;
  list-style-type: none;
  margin: 0;
}

li {
  background: url("./images/pinon.png") no-repeat 0px;
  padding: 20px;
  padding-left: 60px;
}

.caracteristica::marker {
  font-size: 1rem;
}

#contenedor-productos {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto-fill;
  grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
  grid-auto-flow: dense;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  margin: 0 10px;
  
}

#texto-info-productos {
  font-family: 'Bree Regular';
  font-size: 25px;
  text-align: center;
  color: #8e7cc3;
  height: 3rem;
  margin-top: 5rem;
}

.modelos-alquiler{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.modelos-alquiler > p {
  font-size: 20px;
  letter-spacing: 1px;
  background-color: #8e7cc380;
  border-radius: 10px;
  text-align: center;
  width: 30%;

}

.modelos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modelos .modelo-imagen {
  width: auto;
  height: 230px;
  border-radius: 10px;
}

.casilla-modelo {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
}

/*
formulario pedir cita para el taller
cambiar icono inicio */
