a {
  text-decoration: none!important;
}

.title-venta{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contenedor-productos {
  display: grid;
  gap: 2rem;
  row-gap: 3rem;
  grid-auto-rows: 400px;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
  grid-auto-flow: dense;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  margin: 0 10px;

  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.descripcion-prod {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  max-width: 400px;

  .info-productos {
    color: $dark-grey!important;
    font-family: $font-montserrat;
    text-align: center;
    font-size: 17px;
    font-weight: 600!important;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    span {
      font-weight: normal;
    }
  }
}

.descripcion-prod:hover {
  transform: scale(1.05)
}

@media screen and (max-width: 768px) {
  .contenedor-productos {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    margin: 0 30px;

    img {
      height: 300px;
      object-fit: cover;

    }
  }

  .info-productos {
    width: 100%;
  }
}
  