.title-caracteristicas {
  @include section-title;
}

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;

  .imagen-bici {
    max-width: 600px;
    width: 100%;
    height: auto;
  }

  ul {
    font-size: 30px;
    list-style-type: none;
    margin: 0;

    li {
      background: url("../images/pinon.png") no-repeat 0px;
      background-size: 2rem;
      padding: 20px;
      padding-left: 60px;
    }
  }
}
