%flex-center {
  display: flex;
  align-items: center;
}

.modelos-alquiler{
  width: 100%;
  >p {
    @include section-title;
    color: $dark-grey;
    border-radius: 10px;
    width: 100%;
  }
}
  
.modelos {
  @extend %flex-center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  .modelo-imagen {
    width: auto;
    height: 230px;
    border-radius: 10px;
  }

  .casilla-modelo {
    @extend %flex-center;
    flex-direction: column;
    justify-content:space-around;
    padding: 0;
  }
}
